<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odd or Even</title>
</head>
<body>
<h1>Odd or Even</h1>
<p>Number: <strong th:text="${randomNumber}">0</strong></p>

<form action="/play" method="get">
    <label for="choose">Is the number odd or even?</label>
    <select name="choose" id="choose">
        <option value="odd">Odd</option>
        <option value="even">Even</option>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>